

<div class="nk-apps-sidebar is-dark">
    <div class="nk-sidebar-element">
      <div class="nk-sidebar-body">
        <div class="nk-sidebar-content" data-simplebar>
          <div class="nk-sidebar-menu">
            <!-- Menu -->
            <ul class="nk-menu apps-menu">
              
              
            </ul>
          </div>
          <div class="nk-sidebar-footer">
            <ul class="nk-menu nk-menu-md">
              <li class="nk-menu-item">
                <a href="#" class="nk-menu-link" title="Settings">
                  <span class="nk-menu-icon"
                    ><em class="icon nii"></em
                  ></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="nk-sidebar-profile nk-sidebar-profile-fixed dropdown">
          <a href="#" data-toggle="dropdown" data-offset="50,-60">
            <div class="user-avatar">
              <span>AB</span>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-md ml-4">
            <div class="dropdown-inner user-card-wrap d-none d-md-block">
              <div class="user-card">
                <div class="user-avatar">
                  <span>AB</span>
                </div>
                <div class="user-info">
                  <span class="lead-text">{{request.user.username}}</span>
                  <span class="sub-text text-soft">info@softnio.com</span>
                </div>
              </div>
            </div>
            <div class="dropdown-inner">
              <ul class="link-list">
                <li>
                  <a href="{% url "dashboard:profile-portal-home" %}"
                    ><em class="icon ni ni-user-alt"></em
                    ><span>View Profile</span></a
                  >
                </li>
                <li>
                  <a href="{% url "dashboard:update-profile" %}"
                    ><em class="icon ni ni-setting-alt"></em
                    ><span>Account Setting</span></a
                  >
                </li>
               
                <li>
                  <a class="dark-switch" href="#"
                    ><em class="icon ni ni-moon"></em
                    ><span>Dark Mode</span></a
                  >
                </li>
              </ul>
            </div>
            <div class="dropdown-inner">
              <ul class="link-list">
                <li>
                  <a href="{% url "dashboard:logout" %}"
                    ><em class="icon ni ni-signout"></em
                    ><span>Sign out</span></a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
