{% extends "dashboard/dashboard.html" %} 
{% load static %}
{% block content %}
            
<div class="nk-content">
  <div class="container-fluid">
    <div class="row page-header">
        <div class="col-lg-6 align-self-center">
            <h2>Products Purchased</h2>
        </div>

      </div>
    <br/>
    <section class="main-content">
      <div class="card card-bordered h-100">
          <div class="card-inner mb-n2">
            <div class="card-title-group">
              <div class="card-title card-title">
                <h6 class="title">Products Purchased</h6>
              </div>
             
            </div>
          </div>
          <div
            class="nk-tb-list is-loose traffic-channel-table"
          >
          <table class="table table-lg">
              <tr>
                  <th >Product</th>
                  <th>Amount</th>
                  <th>Payments Left</th>
                  <th>Amount Left</th>
                  <th>Username</th>
                  <th>Password</th>
                  <th>Link</th>
              </tr>
              {% for product in products %}
              <tr>
                  <td>{{product}}</th>
                  <td>{{product}}</th>
                  <td>{{product.payments_left}}</th>
                  <td>{{product.amount_left}}</th>
                  <td>{{product.username}}</th>
                  <td>{{product.password}}</th>
                  <td><a href="{{product.product.link}}">{{product.product.link}}</a></th>
              </tr>
              {% endfor %}
  
            </table>
            <!-- .nk-tb-item -->
          </div>
          <!-- .nk-tb-list -->
        </div>
        </div>
       
        
    </section>
  </div>
</div>
{% endblock content %}