{% extends "base.html" %}
{% load static %}

{% block content %}
<section id="about" class="about">

	<div class="container" data-aos="fade-up">
	  <div class="row gx-0">

		<div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
		  <div class="content">
			<h3>About Rising Star Capital Partners</h3>
			
			<p>
				At Rising Star Capital Partners we work with businesses of all sizes and have years of experience handling loan structuring. We have many connections, networks, and resources from which to pull the commercial financing you need for whatever reason. Our experienced professionals who have years of lending experience, our credit culture and deep industry experience provides us true insight of middle-market private equity sponsors. Building trusted relationships is a trademark of our business; as a dependable, collaborative partner, we offer unique solutions and deals from start to completion.
			</p>
			<div class="footer-column col-lg-7 col-md-6 col-sm-12">
				<div class="footer-widget logo-widget">
					<div class="logo">
						<a href="/sendesta"><img src="{% static 'images/logo-small.png' %}" alt="" /></a>
					</div>
					<div class="text"></div>
					<ul class="list-style-two">
						<li><span class="icon fa fa-envelope"></span> info@risingstarcapitalpartners.com</li>
					</ul>
				</div>
			</div>
			<div class="text-center text-lg-start">
			  <a href="/sendesta" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
				<span>Apply now</span>
				<i class="bi bi-arrow-right"></i>
			  </a>
			</div>
		  </div>
		</div>

		<div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
		  <img src="{% static 'assets/img/about.jpg' %}" class="img-fluid" alt="">
		</div>

	  </div>
	</div>

  </section><!-- End About Section -->










	<!--Main Footer-->
  
    	

{% endblock content  %}