{% extends "base.html" %}
{% load static %}

{% block content %}
<section id="about" class="about">

	<div class="container" data-aos="fade-up">
	  <div class="row gx-0">

		<div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
		  <div class="content">
			<h3>About Rising Star Capital Partners</h3>
			
			<p>
				We work for the betterment of small and medium-sized businesses and for the people who work for their development. We customize financing solutions to fit your short-term needs and aid you to reach your long-term goals. Our broad range of products and our intuitive process ensures that you’ll get the right-sized capital solution accurately when you need it.</p>
			<div class="footer-column col-lg-7 col-md-6 col-sm-12">
				<div class="footer-widget logo-widget">
					
					<div class="text"></div>
					<ul class="list-style-two">
						<li><span class="icon fa fa-envelope"></span> info@risingstarcapitalpartners.com</li>
					</ul>
				</div>
			</div>
			<div class="text-center text-lg-start">
			  <a href="/sendesta" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
				<span>Apply now</span>
				<i class="bi bi-arrow-right"></i>
			  </a>
			</div>
		  </div>
		</div>

		<div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
		  <img src="{% static 'assets/img/about.jpg' %}" class="img-fluid" alt="">
		</div>

	  </div>
	</div>

  </section><!-- End About Section -->










	<!--Main Footer-->
  
    	

{% endblock content  %}