{% extends "base.html" %}
{% load static %}
{% block content %}
<section id="features" class="features">

	<div class="container" data-aos="fade-up">

	  <!-- Feature Tabs -->
	  <div class="row feture-tabs" data-aos="fade-up">
		<div class="col-lg-6">
		  <h3>Case studies / Testimonials</h3>

		  <!-- Tabs -->
		  
		  <!-- Tab Content -->
		  <div class="tab-content">

			<div class="tab-pane fade show active" id="tab1">
			  <p>See How We Can Help You Grow Your Business.</p>
			  <div class="d-flex align-items-center mb-2">
				<i class="bi bi-check2"></i>
				<h4>Joe's $150,000 Hybrid Loan With Eagle Mezzanine Capital</h4>
			  </div>
			  <p>Joe used his business credit that he built to be able to acquire a hybrid loan, which consist of a cash line of credit and line of credit for services he needs for his business. He did not have to give a personal guarantee, and was able to secure the financing he needed to grow his business and increase his revenue.</p>
			  <div class="d-flex align-items-center mb-2">
				<i class="bi bi-check2"></i>
				<h4>Lisa's $200,000 Hybrid Loan</h4>
			  </div>
			  <p>Lisa needed a hybrid loan to grow her business. She was able to acquire a hybrid loan with us by building her business credit with Sendesta. Lisa loved the idea of a cash line of credit and a line of credit for services her business needed to increase sales.  </p>
			</div><!-- End Tab 1 Content -->

		  </div>

		</div>

		<div class="col-lg-6">
		  <img src="{% static 'assets/img/features-2.png' %}" class="img-fluid" alt="">
		</div>

	  </div><!-- End Feature Tabs -->

	 

	</div>

  </section><!-- End Features Section -->


	<!-- End Case Section Three-->
{% endblock content %}