{% extends "base.html" %}
{% load static %}

{% block content %}
<section id="values" class="values">

	<div class="container" data-aos="fade-up">

	  <header class="section-header">
		<h2>Services</h2>
	  </header>

	  <div class="row">

		<div class="col-lg-4">
		  <div class="box" data-aos="fade-up" data-aos-delay="200">
			<img src="{% static 'assets/img/values-1.png' %}" class="img-fluid" alt="">
			<h3>Cash Line Of Credit</h3>
			<p>Our cash line of credit helps business owners to meet daily operational expenses, like payroll and purchasing additional goods or materials. These short-term loans can help stabilize cash flow and meet immediate business needs.</p>
		  </div>
		</div>

		<div class="col-lg-4 mt-4 mt-lg-0">
		  <div class="box" data-aos="fade-up" data-aos-delay="400">
			<img src="{% static 'assets/img/values-2.png' %}" class="img-fluid" alt="">
			<h3>Line Of Credit for Software’s Your Business Needs</h3>
			<p>Along with a cash line of credit, we also offer some other products that can help in your business development. By getting approval for a line of credit for software, our software development team can make customized software according to your business needs. Same as the cash line of financing, you will have a flexible payment schedule for this.

			</p>
		  </div>
		</div>

		<div class="col-lg-4 mt-4 mt-lg-0">
		  <div class="box" data-aos="fade-up" data-aos-delay="600">
			<img src="{% static 'assets/img/values-3.png' %}" class="img-fluid" alt="">
			<h3>Customer Relationship Management Software</h3>
			<p>In this era of technology, every business requires Customer Relationship Management software; as you know, these kinds of software’s are costly and can disturb your business operations financially; therefore, we offer a line of credit for customer relationship management software, we will provide you customer relationship management software with a flexible payment schedule, so you can effectively run your business.</p>
		  </div>
		</div>

		<div class="col-lg-4 mt-4 mt-lg-0">
			<div class="box" data-aos="fade-up" data-aos-delay="600">
			  <img src="{% static 'assets/img/values-3.png' %}" class="img-fluid" alt="">
			  <h3>Email Marketing Software</h3>
			  <p>Email marketing software helps to get more customers and plays an important role in developing brand reputation, and we also offer you a line of credit for email marketing software. Buy your email marketing software and run your business without paying for email campaigns.</p>
			</div>
		  </div>

		  <div class="col-lg-4 mt-4 mt-lg-0">
			<div class="box" data-aos="fade-up" data-aos-delay="600">
			  <img src="{% static 'assets/img/values-2.png' %}" class="img-fluid" alt="">
			  <h3>Accounting Software

			</h3>
			  <p>Accounting software automatically manages invoices, accounts receivable, accounts payable, and performs other financial activities—it is an imperative tool for every business regardless of size. We are offering you a line of credit for accounting software, grab an accounting software for your business, and pay back with an easy payment schedule.</p>
			</div>
		  </div>

		  <div class="col-lg-4 mt-4 mt-lg-0">
			<div class="box" data-aos="fade-up" data-aos-delay="600">
			  <img src="{% static 'assets/img/values-1.png' %}" class="img-fluid" alt="">
			  <h3>Appointment Software</h3>
			  <p>By getting a line of credit for our appointment software, you can automatically schedule appointments with your clients and suppliers.</p>
			</div>
		  </div>

		  <div class="col-lg-4 mt-4 mt-lg-0">
			<div class="box" data-aos="fade-up" data-aos-delay="600">
			  <img src="{% static 'assets/img/values-2.png' %}" class="img-fluid" alt="">
			  <h3>File Sharing Software</h3>
			  <p>This software makes it easy for you to share any file with your clients, employees, and supplier or with any other business.</p>
			</div>
		  </div>

		  <div class="col-lg-4 mt-4 mt-lg-0">
			<div class="box" data-aos="fade-up" data-aos-delay="600">
			  <img src="{% static 'assets/img/values-3.png' %}" class="img-fluid" alt="">
			  <h3>SEO Analytics Software</h3>
			  <p>This software automatically tracks the position of your websites and helps you to improve the ranking of your website that can play a role in business development.</p>
			</div>
		  </div>

		  <div class="col-lg-4 mt-4 mt-lg-0">
			<div class="box" data-aos="fade-up" data-aos-delay="600">
			  <img src="{% static 'assets/img/values-1.png' %}" class="img-fluid" alt="">
			  <h3>Video Conferencing</h3>
			  <p>This software allows you to arrange virtual meetings with your client, employees, etc.</p>
			</div>
		  </div>
	  </div>

	</div>

  </section><!-- End Values Section -->

{% endblock content %}